/* .headinner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: #09c;
    min-height: 115px;
    padding-bottom: 15px !important;
    padding: 0px 80px;
} */
*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    /* color: #000000; */
}
a.orangequery {
    border: 0;
    border-radius: 30px;
    width: 320px;
    background-color: #FFA157;
    color: white;
    height: 60px;
    display: flex;
    padding: 19px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
a.bluequery {
    border: 0;
    border-radius: 30px;
    width: 320px;
    background-color: #005EA8;
    color: white;
    height: 60px;
    display: flex;
    padding: 19px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.headcont {
    display: flex;
    font-weight: bold;
    line-height: 20px;
    gap: 10px;
    letter-spacing: 0.5px;
    text-decoration: none;
}  
/* .nav-item {
    height: 73px;
} */
.nav-item {
    /* height: 3em; */
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
 
 
nav ul li {
    float: left;
    position: relative;
    text-align: center;
}
.headinner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #09c; */
    /* min-height: 115px; */
    /* padding-bottom: 15px !important; */
    padding: 20px 190px;
}
h3.spanword {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #000000;
}
h2.blueword {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #005EA8;
}
.headlogo {
    display: flex;
    align-items: center;
    gap: 15px;
}


/* .headcont a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
} */
.headbreadfirst svg {
    width: 13px ;
    height: 13px ;
    fill:#666;
}
.headbreadsec svg {
    width: 9px !important;
    height: 9px !important;
}
.headbreadth svg {
    width: 9px !important;
    height: 9px !important;
}
/* .headbread svg {
    width: 9px;
    height: 9px;
} */
.headbreadfirst a {
    display: flex;
    align-items: center;
    /* gap: 5px; */
    font-size: 12px;
    font-weight: 600;
    color: #666;
}
.headbread {
    display: flex;
    gap: 3px;
    /* width: 820px;
    margin: auto; */
}
.headbread a {
    display: flex;
    align-items: center;
    /* gap: 5px; */
    text-decoration: underline;
}
.mainhe {
    /* background: #f0f0f0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #09c; */
    /* min-height: 115px; */
    /* padding-bottom: 15px !important; */
    padding: 0px 190px;
    flex-direction: row-reverse;
}
.mainheadbread {
    /* background: #fff url(/_next/static/media/bg-breadcrumb.36da3ad0.png) repeat-x; */
    text-indent: 10px;
    /* padding: 10px 0 4px; */
    width: 100%;
    /* border-bottom: 1px solid #aaa; */
}
.nav-wrap {
    /* background: linear-gradient(120.65deg, #005EA8 33.99%, #FFFFFF 81.83%);
    height: 73px;
    width: 100%; */
    /* display: flex; */
    height: 25px;
}
.nav-icons-container {
    /* float: right; */
    display: flex;
}
.nav-icons.glasicon svg {
    width: 20px;
    height: 20px;
}
.nav-icons-container.scgfinal {
    gap: 15px;
    align-items: center;
}
.nav-icons-container.scgfinal svg {
    width: 20px;
    height: 15px;
}
.emgr-main-nav {
    display: flex;
    background: linear-gradient(120.65deg, #005EA8 33.99%, #FFFFFF 90.83%);
    height: 73px;
    width: 100%;
}
nav {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.emgr-main-nav .navbar-left {
    width: 100%;
}
.portlet {
    margin-bottom: 10px;
    position: relative;
}
.portlet-barebone .portlet-content {
    padding: 0;
}
.navbar-nav {
    flex-direction: row !important;
}
.mobile-menu-toggle svg {
    width: 15px;
    height: 15px;
}
.navbar-nav {
    display: flex;
    flex-wrap: inherit;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin: 0px;
    margin-top: -25px;
}
.navbar-nav .nav-item, .navbar-nav .nav-item .dropdown {
    align-items: center;
    display: flex;
    word-wrap: normal;
    max-width: 100%;
}
.emgr-main-nav .nav-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.navbar-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* .text-truncate {
    overflow: auto;
    text-overflow: unset;
    white-space: normal;
    text-decoration: none;
} */
.mainhe:hover{
    overflow: visible;
}
.aeohead{
    margin-bottom: 20px;
}
a.orangequery:hover {
    background-color: #ff7101;
    border: 0;
    border-radius: 30px;
    width: 320px;
    /* background-color: #FFA157; */
    color: white;
    height: 60px;
    display: flex;
    padding: 19px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
a.bluequery:hover {
    border: 0;
    border-radius: 30px;
    width: 320px;
    background-color: #00467E;
    color: white;
    height: 60px;
    display: flex;
    padding: 19px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.text-truncate {
    overflow: auto;
    text-overflow: unset;
    font-size: 14px;
    white-space: normal;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.emgr-main-nav:hover{
    height: auto;
}
.nav-item#layout_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_226:hover {
    background-color: #ff7101;
}
.emgr-main-nav .lfr-nav-item:hover {
    background: rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid #FFA157;
}
.nav-item#layout_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_226 {
    background-color: #ffa157;
    padding-top: 25px;
    padding-bottom: 25px;
}
.emgr-main-nav .nav-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mobmenicon{
    display: none;
}

.mobile-menu-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00467E;
    z-index: 9999;
}
  
  .site-navigation.mobile-menu-open {
    transform: translateX(0); /* Slide the menu into view */
  }
  
  /* Style the navigation links */
  .site-navigation.mobile-menu-open .navbar-site {
    display: block; /* Show the navigation links */
  }
  
  /* Style each individual navigation link */
  .site-navigation.mobile-menu-open .navbar-site .nav-item {
    display: block; /* Display as block elements */
    margin-bottom: 10px; /* Add spacing between links */
  }
  
  /* Additional styles for the links */
  .site-navigation.mobile-menu-open .navbar-site .nav-item a {
    color: white; /* Change link color */
    text-decoration: none; /* Remove underline */
  }
  
  /* Style the active link */
  .site-navigation.mobile-menu-open .navbar-site .nav-item.active {
    font-weight: bold; /* Make the active link bold */
  }
  .mobilemenu {
    position: absolute;
    /* left: 0; */
    right: 0;
    top: 10px;
    bottom: 0;
    padding-right: 20px;
}
.mobilemenu{
    display: none;
}
.mobilemenu .nav-icons-container.scgfinal {
    gap: 5px;
    align-items: center;
}
.site-navigation.mobile-menu-open button.close-button svg {
    width: 20px;
    position: absolute;
    height: 20px;
    top: 5px;
    right: 5px;
    bottom: 0;
}
.site-navigation.mobile-menu-open button.close-button svg path {
    fill: #ffffff;
}

@media(max-width:768px){
    .headinner {
        display: block;
        padding: 0px;
    }
    .headlogo img {
        display: none;
    }
    .headlogoinner h3.spanword {
        display: none;
    }
    .headcont {
        display: block;
    }
    .site-navigation.mobile-menu-open .navbar-site .nav-item {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        padding: 25px 0px;
    }
    .site-navigation.mobile-menu-open ul#yui_patched_v3_19_2_1_1712958880732_215 {
        border-top: 1px solid #212121;
        margin-top: 25px;
    }
    .headlogo {
        /* display: flex;
        align-items: center;
        gap: 15px; */
        padding: 10px 0px;
    }
    .mobile-menu-open .mainhe {
        display: block !important;
    }
    .mainhe{
        display: none;
    }

    .mobmenicon{
        display: block !important;
    }
    .mobhide{
        display: none;
    }
    .headcont a.orangequery {
        /* border: 0; */
        margin-bottom: 10px;
        width: 100%;
        position: relative;
        margin-top: 30px;
    }
    .mobilemenu{
        display: block !important;
    }
    .headcont a.bluequery {
        width: 100%;
    }
    .headlogoinner h2.blueword {
        margin-left: -7px;
        margin-top: 3px;
    }
}